<!-- /* From Uiverse.io by cssbuttons-io */  -->
 <link rel="stylesheet" href="/css/stylish.button.style.css">
<button class="uiverse-button">
  <span class="transition"></span>
  <span class="gradient"></span>
  <span class="label">Register</span>
</button>
