<% layout("/layouts/boilerplate") %>
<body>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(let user of allUsers) { %>
            <div class="card col" style="width: 18rem">
                <img 
                src="<%= user.avatar %>" 
                class="card-img-top" 
                alt="User Avatar" 
                style="height: 20rem"
                />
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"> <%= user.fullName %> </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        <% } %>
    </div>    
</body>
