<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>OTP Verification Form</title>
        <link rel="stylesheet" href="/css/otp2.style.css" />
        <!-- Boxicons CSS -->
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
        
    </head>
    <body>
        <div class="container">
            <header>
                <i class="bx bxs-check-shield"></i>
            </header>
            <h4>Enter OTP Code</h4>
            <!-- <form id="otp-form">
                <div class="input-field">
                    <input class="otp-input" type="number" />
                    <input class="otp-input" type="number" disabled />
                    <input class="otp-input" type="number" disabled />
                    <input class="otp-input" type="number" disabled />
                    <input class="otp-input" type="number" disabled />
                    <input class="otp-input" type="number" disabled />
                </div>
                <button id="verify-otp">Verify OTP</button>
            </form> -->
            <form action="/otp" method="post" id="otp-form">
                <div class="input-field">
                    <input type="number" id="otp-input-1" class="otp-input" />
                    <input type="number" id="otp-input-2" class="otp-input" disabled />
                    <input type="number" id="otp-input-3" class="otp-input" disabled />
                    <input type="number" id="otp-input-4" class="otp-input" disabled />
                    <input type="number" id="otp-input-5" class="otp-input" disabled />
                    <input type="number" id="otp-input-6" class="otp-input" disabled />
                </div>
                <button type="submit" id="verify-otp">Verify OTP</button>
            </form>
            
        </div>
        <script src="/js/otp2.script.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                // Retrieve user data from localStorage
                const storedUserData = localStorage.getItem("userData");
        
                if (storedUserData) {
                    const userData = JSON.parse(storedUserData);
                    // Populate the form fields with the stored data
                    document.querySelector("#name").value = userData.name || "";
                    document.querySelector("#email").value = userData.email || "";
        
                    // Optionally, clear the data from localStorage after using it
                    localStorage.removeItem("userData");
                }
            });
        </script>    
        <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    </body>
</html>
