body {
    .fredoka {
        font-family: "Fredoka", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:"wdth" 100;
    }
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    /* display: flex;
    flex-direction: column;
    min-height: 100vh; */
    flex: 1;
}

/* Cards */



.card {
    border: none !important;
    margin-bottom: 2rem;

}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}


/* navbar */
.navbar{
    height: 4rem;
    background-color: rgb(224, 230, 234);
}

.fa-user{
    color: #B197FC;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;  /* it overrides bootstrap color*/
    font-size: 2rem;
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
    color: #222222;
}

.f-info-links,
.f-info-brand,
.f-info-socials
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .f-info-socials {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.f-info-socials i {
    margin-left: 1rem;
    font-size: 1.2rem;
}

.f-info{
    text-align: center;
    height: 6rem;
    background-color: rgb(224, 230, 234);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
